<div id="totop" style="position:fixed;bottom:110px;right:50px;cursor:pointer;">
  <a title="Scroll Up" class="fa fa-caret-square-o-up fa-4x" style="color:grey;"></a>
  
<!-- <a title="Scroll Up"><img src="/images/scrollup.png"/></a> -->
</div>
<div id="tobottom" style="position:fixed;bottom:50px;right:50px;cursor:pointer;">
  <a title="Scroll Down" class="fa fa-caret-square-o-down fa-4x" style="color:grey;"></a>
</div>
