#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: none

#footer-info
  line-height: line-height
  font-size: 0.85em

.footer-icon
  color: #fff
  &:hover
    text-decoration: none
    color: color-link

.footer-words
  font-family: Georgia,"Lucida Family",Helvetica
  font-style: italic
  font-size: 2em
  text-align: center